@import "freelancers";
@import "orders";
.sidebar {
  .image {
    i.fa {
      color: white;
      font-size: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.fc-daygrid-event {
  white-space: normal;
  padding: 5px;
  text-align: center;
}
